<div class="main">
  <div class="main-inner">
    <h2>About</h2>
    <p>Hello.<br>
      My name is Masayuki Nii.<br>
      I'm a web engineer.<br>
      This blog is made with Ruby on Rails.
    </p>
  </div>
</div>
