<div class="main">
  <div class="main-inner">
    <h2>About</h2>
    <p style="font-weight:bold">Hello.<br>
      My name is Masayuki Nii.<br>
      I'm a web engineer.</p><br>
    <p>Ruby on railsで簡易的なブログ機能を作りました。<br>いいねボタンとトップへ戻るボタンはvue.jsで実装。<br>Herokuへデプロイ。</p><br>
<p>課題：レスポンシブ未対応</p><br>
<p>参考サイト：</p>
<p>超基本的なdeviseの使い方 - Qiita<br>
<a href="https://qiita.com/yoshimitsu41/items/ba5487e18278822828a3">https://qiita.com/yoshimitsu41/items/ba5487e18278822828a3</a></p><br>
<p>【Ruby on Rails】gem(Kaminari)でページネーション機能を追加してBootstrapを適用する。 - Qiita<br>
<a href="https://qiita.com/residenti/items/1ae1e5ceb59c0729c0b9">https://qiita.com/residenti/items/1ae1e5ceb59c0729c0b9</a></p><br>
<p>Railsで日付/時刻のフォーマットを設定するTips - Rails Webook<br>
<a href="https://ruby-rails.hatenadiary.com/entry/20141226/1419600679">https://ruby-rails.hatenadiary.com/entry/20141226/1419600679</a></p><br>
<p>simple_formatの使い方 - Qiita<br>
<a href="https://qiita.com/mojihige/items/c01682774e8ef29b361f">https://qiita.com/mojihige/items/c01682774e8ef29b361f</a></p><br>
<p>Rails &amp; Webpackerでフロントエンド開発環境を整える - Qiita<br>
<a href="https://qiita.com/hiyamamoto/items/e0a30b4799314174b80f">https://qiita.com/hiyamamoto/items/e0a30b4799314174b80f</a></p><br>
<p>Rails アプリのアセットを Webpacker で管理する | もばらぶエンジニアブログ<br>
<a href="https://engineering.mobalab.net/2018/05/05/manage-assets-in-rails-using-webpacker/">https://engineering.mobalab.net/2018/05/05/manage-assets-in-rails-using-webpacker/</a></p><br>
<p>Rails で JS を Webpacker 管理にしたら、 data-confirm が動かなくなった - Qiita<br>
<a href="https://qiita.com/mokuo/items/a50a27a83c3328c116a7">https://qiita.com/mokuo/items/a50a27a83c3328c116a7</a></p><br>
<p>Rails + Vue.jsでいいね機能を実装する - Qiita<br>
<a href="https://qiita.com/TakeshiFukushima/items/a6c698fec648c11eee9a">https://qiita.com/TakeshiFukushima/items/a6c698fec648c11eee9a</a></p><br>
<p>[Rails5.1][Vue.js] 動かそうとするとコンポネントエラーになる問題 - Qiita<br>
<a href="https://qiita.com/taaatk/items/3137659e69b82d10cfca">https://qiita.com/taaatk/items/3137659e69b82d10cfca</a></p><br>
<p>jQueryを使わず、CSSとJavaScriptで実装するトップに戻るボタン - わたしと納豆ごはん<br>
<a href="https://www.tomotanuki.com/entry/web-top-of-page">https://www.tomotanuki.com/entry/web-top-of-page</a></p><br>
<p>【初心者向け】railsアプリをherokuを使って確実にデプロイする方法【決定版】 - Qiita<br>
<a href="https://qiita.com/kazukimatsumoto/items/a0daa7281a3948701c39">https://qiita.com/kazukimatsumoto/items/a0daa7281a3948701c39</a></p><br>
<p>HerokuではSQLite3が使えない？！ - Qiita<br>
<a href="https://qiita.com/MosamosaPoodle/items/7149aa66f1c087472777">https://qiita.com/MosamosaPoodle/items/7149aa66f1c087472777</a></p><br>
<p>bundle installしたらgem install pgしてと言われたけど、素直にやっても解決しなかったときにやった方法 - Qiita<br>
<a href="https://qiita.com/masanarih0ri/items/5ad2f7e11c8c94170d6b">https://qiita.com/masanarih0ri/items/5ad2f7e11c8c94170d6b</a></p><br>
<p>Herokuで「Precompiling assets failed.」と出たときの対処法 - Qiita<br>
<a href="https://qiita.com/yutasuzuki0206/items/b359279e0105fea64d31">https://qiita.com/yutasuzuki0206/items/b359279e0105fea64d31</a></p><br>
<p>Herokuエラーメッセージへの対処 - Qiita<br>
<a href="https://qiita.com/ntkgcj/items/0d14b1368cf9f2c9ca10">https://qiita.com/ntkgcj/items/0d14b1368cf9f2c9ca10</a></p>
  </div>
</div>
