<header>
  <%= render 'partial/header' %>
</header>
        <h2>500 Internal Server Error</h2>
        <p>申し訳ございません。ただいま障害が生じております。</p>
        <p>しばらくたってから、再度アクセスしてください。</p>
<%= render 'partial/footer' %>
