<div class="main">
  <div class="main-inner">
    <h2><%= @post.title %></h2>
    <p class="post-date show"><%= @post.created_at.to_s(:published_on) %></p>
    <%= simple_format @post.body, class: "post-body show" %>
    <div class="like show">
     <like-button :post-id="<%= @post.id %>"></like-button>
    </div>
  </div>
</div>